{% extends 'base_page.html' %}
{% block sliding-home %}
{% endblock sliding-home %}
{% load staticfiles %}

{% block intro %}
<div id="divider">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-8 col-sm-8">
                <h2 class="wow bounce"><strong> Tunza Sacco Products</strong></h2>
                <h3 class="wow fadeIn" data-wow-delay="0.6s"><mark> SAVE REGULARLY, BORROW WISELY & PAY PROMPTLY</mark></h3>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div style="height: 196px;" class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.9s">
            <img class="center-block" src="{% static 'images/tunza_sacco.png' %}">
        </div>
        <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.9s">
            <h3>Membership</h3>
            <p> Membership to Tunza is voluntary and open to all salaried employees and Ex-Employees of Care Kenya, Care SSS and Oppotunity International-Wedco Ltd.  To enroll as a member, one needs fill an application form to the attention of Tunza Manager/Accountant, stating your name, payroll number, and amount of proposed monthly share contributions and date to effect the payroll recoveries. <a href="memebrship">Continue reading.</a></p>
        </div>
        <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.9s">
            <h3>General Knowledge & Information About Tunza</h3>
            <p> Tunza Savings and Credit Society was founded in 1987 as a limited organization to operate under the GOK co-operative act & rules. Tunza is a voluntary financial scheme and service organization through which members make savings and in return have access to loan facilities at considerably low interest rates.</p>
            <p> Tunza is a Swahili word for “CARE”, and it strives to assist its members develop just the way CARE does while uplifting the living standards of the communities it works with. Tunza society is constantly in pursuit of meeting its objectives by improving the well being of all its members.</p>
        </div>
        <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.9s">
            <h3>Loaning Policy</h3>
            <p> Loans are given to members in line with the existing loaning policy applied and used by all savings and credit societies in the country. The society however stresses the following basic rules and conditions:
                <ol type="a">
                    <li> To qualify for a loan one must have been a members for at least 6 months with a share balance of not less than Ksh.6, 000/=.</li>
                    <li> Loans will be advanced to the tune of 3 times ones share for fresh    loans  (i.e. Normal loan) and 3 of share minus loan and interest balances for any additional loan.</li>
                    <li> Only one normal loan will be given to a member at one given time while additional loans may be advanced upon certain outlined conditions.</li>
                </ol>
            </p>
            <p> <a href="#about">More information</a></p>
        </div>
        <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.9s">
            <h3>Management Structure</h3>
            <p> Tunza is managed by the members themselves through the management committee which is currently being transformed into a Board of Directors to reflect changes in the legislature governing Co-operatives in the country and this body is responsible for the day-to-day running of the society’s office through the Society’s Manager/Accountant.</p>
            <p> The committee meets to deliberate on all issues and make decisions such as Loan-approval and members complaints .Members of the committee are elected from the general membership fraternity through the Annual General Meeting  (AGM)-the highest decision making organ of the society, and in conformity with the Co-operative Acts, Rules and Society’s by-laws</p>
            <p> The society is governed by regulations of the Ministry of Co-operative Development as per the requirements of Co-operative Act, Rules, and society’s own by-laws.</p>
        </div>
        <div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.9s">
            <h3>Management Information System</h3>
            <p> Currently the society runs a Computerized system and Tunza is one of the few societies in the country to have taken such a move.</p>
        </div>
    </div>
</div>
{% endblock intro %}

{% block slider %}
{% endblock slider %}

{% block team %}

{% endblock team %}

{% block gmap %}
{% endblock gmap %}