{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Tunza Sacco Society</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		<!-- animate -->
		<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
		<!-- bootstrap -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>
		<!-- custom -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

	</head>
	<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

		<!-- start navigation -->
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand"><img src="{% static 'images/tunza_logo.png' %}" class="img-responsive" alt="logo"></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/" class="smoothScroll">HOME</a></li>
						<li><a href="products" class="smoothScroll">PRODUCTS</a></li>
						<li><a href="about" class="smoothScroll">ABOUT US</a></li>
						<li><a href="membership" class="smoothScroll">MEMBERSHIP</a></li>
						<li><a href="#contact_us">CONTACT US</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end navigation -->

		<!-- start home -->

        <section id="home" class="text-center">
		    {% block sliding-home %}
            {% endblock sliding-home %}
		</section>

		<!-- end home -->

		<!-- start service -->
        {% block intro %}
		<div id="service">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.1s">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body wow fadeIn">
								<h3 class="media-heading">Products & Services</h3>
								<p>Please check our <a rel="nofollow" href="products" target="_parent">Products</a> to find what suits you.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.3s">
								<i class="fa fa-cog"></i>
							</div>
							<div class="media-body wow fadeIn">
								<h3 class="media-heading">How to Join</h3>
								<p>To enjoy our services, one must be an employee, click <a href="membership">here</a>. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.6s">
								<i class="fa fa-paper-plane"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.3s">
								<h3 class="media-heading">Resources</h3>
								<p>See and download some of out documents easily, click <a href="resources">here</a>. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.9s">
								<i class="fa fa-check"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.6s">
								<h3 class="media-heading">Why this Sacco</h3>
								<p>Membership is open to all employees within the..<a href="about">continue reading</a>. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="media">
							<div class="media-object media-left wow fadeIn" data-wow-delay="0.8s">
								<i class="fa fa-check-circle"></i>
							</div>
							<div class="media-body wow fadeIn" data-wow-delay="0.6s">
								<h3 class="media-heading">Our Terms</h3>
								<p>See our terms of operations <a href="terms">click here</a>, </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        {% endblock intro %}
		<!-- end service -->

		<!-- start divider -->
        {% block slider %}
		<div id="divider">
			<div class="container">
				<div class="row">
					<div class="col-md-1 col-sm-1"></div>
					<div class="col-md-8 col-sm-8">
						<h2 class="wow bounce"><strong> Tunza Sacco Society</strong></h2>
						<h3 class="wow fadeIn" data-wow-delay="0.6s"><mark> SAVE REGULARLY, BORROW WISELY & PAY PROMPTLY</mark></h3>
						<p class="wow fadeInUp" data-wow-delay="0.9s">See our Products, <a href="products">click here</a> </p>
					</div>
					<div class="col-md-2 col-sm-2"></div>
				</div>
			</div>
		</div>
        {% endblock slider %}
		<!-- end divider -->

		<!-- start about -->
        {% block about %}
		<div id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.9s">
						<h3>About Tunza Sacco Society</h3>
						<h4>Tunza Vision.</h4>
						<p> To be a well-managed Co-operative society capable of Economically and Socially empowering its' members.</p>
                        <h4>Tunza Mission.</h4>
						<p> To provide competitive, innovative profitable and sustainable savings and loan products and quality customer service through visionary leadership and upholding cooperative
                            values.</p>
                        <h4>Tunza Goal.</h4>
						<p> To enhance/improve and increase savings through membership and offer wide range of loan products and services in a sustainable manner.</p>
					</div>
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.9s">
						<span class="text-top">Normal/Development loan <small>100% guranteed</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
						<span>Refinancing loan <small>100% guranteed</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
						<span>Furniture & Equipment loan <small>100% guranteed</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
						<span>Emergency loan <small>100% guranteed</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
                        <span>School fees loan <small>100% guranteed</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
                        <span>Quick serve loan <small>100% guranteed</small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
							</div>
					</div>
				</div>
			</div>
		</div>
        {% endblock about %}
		<!-- end about -->

		<!-- start team -->
        {% block team %}
		<div id="team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="wow bounce">Meet the Management</h2>
					</div>
					<div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.3s">
						<img src="{% static 'images/team1.jpg' %}" class="img-responsive" alt="team img">
						<h4>Director</h4>
						<h3>Name A</h3>
						<p>About Name A.</p>
						 <ul class="social-icon text-center">
           					<li><a href="#" class="wow fadeInUp fa fa-facebook" data-wow-delay="2s"></a></li>
          					 <li><a href="#" class="wow fadeInDown fa fa-twitter" data-wow-delay="2s"></a></li>
          					 <li><a href="#" class="wow fadeIn fa fa-instagram" data-wow-delay="2s"></a></li>
         					 <li><a href="#" class="wow fadeInUp fa fa-pinterest" data-wow-delay="2s"></a></li>
       					 </ul>
					</div>
					<div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.6s">
						<img src="{% static 'images/team2.jpg' %}" class="img-responsive" alt="team img">
						<h4>Product Manager</h4>
						<h3>Name B</h3>
						<p>About Name B</p>
						 <ul class="social-icon text-center">
           					<li><a href="#" class="wow fadeInUp fa fa-facebook" data-wow-delay="2s"></a></li>
          					 <li><a href="#" class="wow fadeInDown fa fa-twitter" data-wow-delay="2s"></a></li>
          					 <li><a href="#" class="wow fadeIn fa fa-instagram" data-wow-delay="2s"></a></li>
         					 <li><a href="#" class="wow fadeInUp fa fa-pinterest" data-wow-delay="2s"></a></li>
       					 </ul>
					</div>
					<div class="col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
						<img src="{% static 'images/team3.jpg' %}" class="img-responsive" alt="team img">
						<h4>Branch Manager</h4>
						<h3>Name C</h3>
						<p>About Name C.</p>
						 <ul class="social-icon text-center">
           					<li><a href="#" class="wow fadeInUp fa fa-facebook" data-wow-delay="2s"></a></li>
          					 <li><a href="#" class="wow fadeInDown fa fa-twitter" data-wow-delay="2s"></a></li>
          					 <li><a href="#" class="wow fadeIn fa fa-instagram" data-wow-delay="2s"></a></li>
         					 <li><a href="#" class="wow fadeInUp fa fa-pinterest" data-wow-delay="2s"></a></li>
       					 </ul>
					</div>
				</div>
			</div>
		</div>
        {% endblock team %}
		<!-- end team -->

		<!-- start newsletter -->
        {% block contact %}
		<div id="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2 class="wow bounce">Get our newsletter!</h2>
							<p class="wow fadeIn" data-wow-delay="0.6s">Subscribe to our periodic newslatter, it's fast and easy.</p>
						</div>
						<form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.9s">
							<div class="col-md-3 col-sm-3"></div>
							<div class="col-md-4 col-sm-4">
								<input name="email" type="email" class="form-control" id="email" placeholder="Enter your email">
							</div>
							<div class="col-md-2 col-sm-2">
								<input name="submit" type="submit" class="form-control" id="submit" value="Sign Up">
							</div>
							<div class="col-md-3 col-sm-3"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- end newsletter -->

		<!-- start contact -->
		<div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 wow fadeInLeft" data-wow-delay="0.6s">
						<h2><strong>Tunza Sacco Society</strong> Sacco.</h2>
						<p>Tunza is a voluntary financial scheme and service organization through which members make savings and in return have access to loan facilities at considerably low interest rates.
                            Tunza is a Swahili word for “CARE”, and it strives to assist its members develop just the way CARE does while uplifting the living standards of the communities it works with. Tunza society is constantly in pursuit of meeting its objectives by improving the well being of all its members.
                        </p>
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.9s">
						<address>
							<a id="contact_us" href="contact"></a><h3>Visit Office</h3>
							<p><i class="fa fa-map-marker too-icon"></i> Kisumu</p>
							<p><i class="fa fa-phone too-icon"></i> +254 057 2020606</p>
							<p><i class="fa fa-envelope-o too-icon"></i> tunza@ksm.care.or.ke </p>
                            <p><i class="fa-fax too-icon"></i> +2024474</p>
                            <p class="text-center"><i class="fa fa-envelope-square too-icon"></i>Postal Address <br> c/o CARE KENYA <br> P.O BOX 88 <br> Kisumu </p>
						</address>
					</div>
					<form action="#" method="post" class="col-md-6 col-sm-4" id="contact-form" role="form">
							<div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
								<input name="name" type="text" class="form-control" id="name" placeholder="Name">
							</div>
							<div class="col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
								<input name="email" type="email" class="form-control" id="email" placeholder="Email">
							</div>
							<div class="col-md-12 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
								<textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
							</div>
							<div class="col-md-offset-9 col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
								<input name="submit" type="submit" class="form-control" id="submit" value="Send">
							</div>
					</form>
				</div>
			</div>
		</div>
        {% endblock contact %}
		<!-- end contact -->

		<!-- start google map -->
        {% block gmap %}
		<div class="google_map">
			<div id="map-canvas"></div>
		</div>
        {% endblock gmap %}
		<!-- end google map -->

		<!-- start footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-7">
						<p>Copyright &copy; 2016 Tunza Sacco Society</p>
						<small>Designed by <a rel="nofollow" href="#deaspo" target="_parent">@deaspo studios</a></small>
					</div>
					<div class="col-md-4 col-sm-5">
						<ul class="social-icon">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#" class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-instagram"></a></li>
							<li><a href="#" class="fa fa-pinterest"></a></li>
							<li><a href="#" class="fa fa-google"></a></li>
							<li><a href="#" class="fa fa-github"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->


		<!-- jQuery -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<!-- bootstrap -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- isotope -->
		<script src="{% static 'js/isotope.js' %}"></script>
		<!-- images loaded -->
   		<script src="{% static 'js/imagesloaded.min.js' %}"></script>
   		<!-- wow -->
		<script src="{% static 'js/wow.min.js' %}"></script>
		<!-- smoothScroll -->
		<script src="{% static 'js/smoothscroll.js' %}"></script>
		<!-- jquery flexslider -->
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<!-- custom -->
		<script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/preloader.js' %}"></script>
	</body>
</html>